<script src="js/Three.js"></script>
<!--
<script type="text/coffeescript" src="src/kdisplay.coffee"></script>
-->
<script src="lib/kdisplay.js"></script>
<script>
  window.onload = function(){
    window.host_url = "<%= host_url %>";
  };
</script>
<div id="container"></div>
